{%- if settings.breadcrumb_pg -%}{%- include 'breadcrumb' -%}{%- else -%}<div class="topSpace"></div>{%- endif -%}
<div class="page-width">
  {% unless section.settings.hide_ttl %} <h1 class="page-title {{settings.title_align}}">{{page.title}}</h1> {% endunless %}
  <div class="rte">{{ page.content }}</div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "spaced-section",
  "settings": [   
	{
            "type": "checkbox",
            "id": "hide_ttl",
            "label": "Hide Page Title?",
            "default": false            
        }		
  ] 
}
{% endschema %}